argcomplete==1.8.1
atomicwrites==1.1.5
attrs==19.3.0
autobahn==17.10.1
Automat==0.8.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
blinker==1.4
Brlapi==0.7.0
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
catkin-tools==0.9.2
cbor==1.0.0
certifi==2019.11.28
chardet==3.0.4
click==8.1.8
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.17.0
colcon-defaults==0.2.8
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.3
colorcet==3.1.0
configobj==5.0.6
constantly==15.1.0
cov-core==1.15.0
coverage==4.5.2
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
cyclonedds==0.10.2
Cython==0.29.14
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
distro-info==0.23+ubuntu1.1
docutils==0.16
duplicity==0.8.12.0
empy==3.3.2
entrypoints==0.3
fasteners==0.14.1
filelock==3.16.1
flake8==3.7.9
fsspec==2025.3.0
future==0.18.2
graphsurgeon==0.4.6
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
ifcfg==0.18
importlib-metadata==1.5.0
incremental==16.10.1
-e git+https://github.com/NaCl-1374/inspire_hand_ws.git@fc754900caaaa82c9b59fb12c1b79ebfd1c1a0e7#egg=inspire_sdkpy&subdirectory=inspire_hand_sdk
jetson-stats==4.3.2
Jetson.GPIO==2.1.1
jinja2==3.1.6
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
lap==0.5.12
lark-parser==0.8.1
launch==0.10.10
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
logging-mp==0.2.0
louis==3.12.0
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
Mako==1.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.1.2
mccabe==0.6.1
mdurl==0.1.2
mock==3.0.5
monotonic==1.5
more-itertools==4.2.0
mpi4py==3.0.3
mpmath==1.3.0
netifaces==0.10.4
networkx==3.1
nose==1.3.7
nose2==0.9.1
notify2==0.3
numpy==1.23.5
nvidia-ml-py==13.590.48
nvitop==1.6.2
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
onnx-graphsurgeon==0.3.12
opencv-python==4.12.0.88
osrf-pycommon==0.1.11
packaging==20.3
pandas==0.25.3
paramiko==2.6.0
pbr==5.4.5
pexpect==4.6.0
Pillow==7.0.0
pluggy==0.13.0
protobuf==3.6.1
psutil==7.2.2
py==1.8.1
py-ubjson==0.14.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pycryptodomex==3.6.1
pycups==1.9.73
pydocstyle==2.1.1
pydot==1.4.1
pyflakes==2.1.1
pygments==2.19.2
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymodbus==3.6.9
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.14.1
pyqtgraph==0.13.3
pyRFC3339==1.1
pyserial==3.5
pytest==4.6.9
pytest-cov==2.8.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.7.3
python-dbusmock==0.19
python-debian==0.1.36+ubuntu1.1
python-gnupg==0.4.5
python-snappy==0.5.3
PyTrie==0.2
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
qt-py==1.4.8
requests==2.22.0
requests-unixsocket==0.2.0
rich==14.2.0
rich-click==1.9.5
roman==2.0.0
rosdep==0.24.0
rosdep-modules==0.24.0
rosdepc==1.0.2
rosdistro-modules==0.9.1
rospkg==1.5.1
rospkg-modules==1.5.1
rpyutils==0.2.0
scipy==1.3.3
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
sip==4.19.21
six==1.14.0
smbus2==0.6.1
snowballstemmer==2.0.0
soupsieve==1.9.5
sros2==0.9.5
sympy==1.13.3
systemd-python==234
teleop-twist-keyboard==2.3.2
tensorrt==8.5.2.2
torch==2.4.1
tornado==6.3.3
Twisted==18.9.0
txaio==2.10.0
types-pyside2==5.15.2.1.8
typing-extensions==4.13.2
u-msgpack-python==2.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uff==0.6.9
ultralytics==8.4.11
-e git+https://github.com/unitreerobotics/unitree_sdk2_python.git@58c3f6240ddb689c4509cd733f841cb1135a8d07#egg=unitree_sdk2py&subdirectory=../../unitree_sdk2_python
urllib3==1.25.8
urwid==2.0.1
vcstool==0.3.0
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
wsaccel==0.6.2
xkit==0.0.0
zipp==1.0.0
zope.interface==4.7.1
